body {
    background-color: rgb(3, 2, 1);
}
.text {
    font-size:x-large;
    text-decoration-color: antiquewhite;
    flex-direction:row-reverse;
    color: rgb(119, 199, 195);
    font-style: italic;
}
.flex-container  {
    display: flex;

}
.h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
  
    
    


